@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.right {
    float: right;
}

.padding-150 {
    padding-left: 150px;
    padding-right: 150px;
}

a {
    color: #111;
    text-decoration: none;
}

header {
    /* background: #333; */
    background: #005D9C;
    /* background: #F15A29; */
    /* background: #6BAA3D; */
    /* background: #EFEFEF; */
    /* background: #FFC72C; */
    height: 230px;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin: 0 10px;
    background: #fff;
    margin: 10px;
    cursor: pointer;
    border-radius: 3px;
}

header ul li a {
    padding: 5px;
}

header form {
    margin: 40px 0 0 0;
}

header form input[type=text] {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

header form input[type=submit] {
    height: 40px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    margin: 0 5px;
    width: 100px;
    cursor: pointer;
    background: #6BAA3D;
    color: white;
    font-weight: 600;
}

header h2 {
    margin: 20px 0 0 0;
    font-size: 30px;
}

header h2, h4 {
    color: #fff;
}

a.logo {
    color: #fff;
    font-size: 25px;
}

header .perfil {
    display: flex;
    margin: 8px;
}

header .perfil a {
    color: #fff;
    margin: 0 10px;
}

/* Corpo home */

h2,h3 {color: #F15A29;}

.container-hotel {
    background: url("../../../libs/images/imagem-hotel1.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    height: 150px;
    width: 33%;
    padding: 10px;
    margin: 10px 10px 0 0;
}

.container-hotel .info {
    color: #EFEFEF ;
    opacity: 1;
}

.container-hotel .info p {
    margin: 10px 0;
}

.container-hotel .info a {
    background: #005D9C;
    color: #fff;
    padding: 5px;
    float: right;
    border-radius: 5px;
    position: relative;
}

.see-more {
    background: #EFEFEF;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    padding: 12px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    right: 130px;

}

.avaliados {
    display: flex;
}

.offers {
    margin: 50px 0 0 0;
}

.offers h3 {
    color: #F15A29;
}

.page-offers {
    display: flex;
}

.offers .info {
    /* color: #fff; */
    background: url("../../../libs/images/ilhas-maldivas.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    padding: 10px;
    height: 130px;
    width: 50%;
    margin: 10px 10px 0 0;
}

.offers .info a {
    background: #005D9C;
    color: #fff;
    padding: 10px;
    float: right;
    border-radius: 8px;
    position: relative;
    top: 15%;
}

.all .header {
    margin: 50px 0 20px 0;
    width: 100%;
}

.all .header h2 {
    color: #F15A29;
}

.all form {
    /* float: right; */ 
}

.hotels-info {
    margin: 20px 0;
    width: 100%;
    display: flex;
    background: #EFEFEF;
    /* background: #111; */
    border-radius: 10px;
}

.hotels-info img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
    width: 200px;
    height:100%;
}

.hotels-info .infos {
    margin: 10px;
    width: 100%;
}

.hotels-info .infos h1 {
    color: #F15A29;
}

.hotels-info .infos a{
    background: #005D9C;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    float: right;
}

footer {
    margin: 50px 0 0 0;
    background: #d1d1d1;
    text-align: center;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Login-cadastro page */

.form-container {
    display: flex;
}

.login-container, .cad-container {
    width: 50%;
}

.login-container h1, .cad-container h1 {
    margin: 20px 0;
}

.login-container input, .cad-container input {
    width: 98%;
    height: 30px;
    margin: 5px 0;
    padding: 10px;
}

.login-container input[type=submit], .login-container input[type=button], .cad-container input[type=submit] {
    width: 200px;
    text-align: center;
    padding: 0;
    background: #6BAA3D;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.login-container input:focus, .cad-container input:focus {
    outline: none;
}

.cad-container p {
    font-size: 13px;
    color: #e33337;
}

.login-container a {
    float: right;
    margin: 10px 14px;
    color: #005D9C;
    text-decoration: underline;
}